.header-bg {
  background-color: #010101;
  background-size: contain;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.header-heading {
  color: white;
}
.header-ul-list {
  display: flex;
  padding: 0px;
  width: 530px;
  align-items: center;
  justify-content: space-between;
}

.list-items {
  color: white;
  list-style-type: none;
  font-weight: 600;
}
.list-btn {
  display: none;
}
.drop-down {
  display: none;
}

@media screen and (max-width: 576px) {
  .header-ul-list {
    display: none;
  }
  .header-heading {
    color: white;
    font-size: 20px;
  }
  .list-btn {
    display: inline;
  }
  .header-bg {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-ul-list1 {
    background-color: black;
  }
  .drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
